.banner-top {
	.container-wrap {
		overflow: hidden;
		> .container {
			max-width: 100%;
			padding: 0;
		}
	}
	.banner-top--content {
		min-height: 384px;
		@include md-max {
			min-height: 100%;
		}
	}
	.banner-top--img {
		@include md-max {
			margin: 0 -16px;
			.bg-wrap {
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 1;
					background: rgba(0, 0, 0, 0.3);
				}
			}
		}
	}
	.wrap-img {
		border-radius: 20px 0px 0px 20px;
		overflow: hidden;
		position: absolute;
		height: 384px;
		width: calc(100% + 56px);
		@include md-max {
			position: relative;
			width: 100%;
			border-radius: unset;
		}
	}
}
.banner-top--swiper {
	@include xl-min {
		margin: 0 -5px;
	}
	@include md-max {
		margin: 0 -5px;
	}
	.swiper-slide {
		overflow: hidden;
	}
	.swiper-control {
		position: relative;
		top: -24px;
		z-index: 2;
		@include md-max {
			bottom: 180px;
			top: unset;
			.swiper-buttons {
				.button-slider-next {
					right: 16px;
				}
				.button-slider-prev {
					left: 16px;
				}
			}
			.button-slider-prev,
			.button-slider-next {
				position: absolute;
				bottom: 0;
				svg {
					stroke: $white;
				}
			}
		}
	}
}
