.banner-top--swiper {
	@include xl-min {
		margin: 0 -5px;
	}
	@include md-max {
		margin: 0 -5px;
	}
	.swiper-slide {
		overflow: hidden;
	}
	.swiper-control {
		position: relative;
		top: -24px;
		z-index: 2;
		@include md-max {
			bottom: 180px;
			top: unset;
			.swiper-buttons {
				.button-slider-next {
					right: 16px;
				}
				.button-slider-prev {
					left: 16px;
				}
			}
			.button-slider-prev,
			.button-slider-next {
				position: absolute;
				bottom: 0;
				svg {
					stroke: $white;
				}
			}
		}
	}
}
