//header
.header {
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.06);
	z-index: 10;
	.nav-link {
		font-size: 14px;
		line-height: 17px;
		padding: 0;
		&:hover {
			color: $main-blue;
		}
	}
}
//header-top
.header-top {
	font-family: "SF UI Display";
	.nav-link {
		color: $white;
	}
	.header-top--nav {
		.list-inline-item {
			&:not(:last-child) {
				@include md-max {
					margin-right: 16px;
				}
				@include sm-max {
					margin-right: 8px;
				}
			}
			.nav-link {
				@include sm-max {
					font-size: 8px;
					line-height: 10px;
				}
			}
		}
	}
	.header-top--others {
		.list-inline-item {
			&:not(:last-child) {
				@include lg-max {
					margin-right: 16px;
				}
				@include sm-max {
					margin-right: 8px;
				}
			}
		}
	}
	.header-top--languages {
	}
}
//header-main
.header-main {
	.list-inline-item {
		&:nth-child(n) {
			@include md-max {
				margin-right: 0;
			}
		}
	}
	.list-inline-item--menu {
		.nav-link {
			font-size: 16px;
			line-height: 21px;
			cursor: pointer;
			@include transition(0.3s ease-out 0s);
			@include md-max {
				width: max-content;
			}
			svg {
				fill: none;
				stroke: $black;
				width: 16px;
				height: 16px;
				@include transition(0.3s ease-out 0s);
			}
			&:hover,
			&.active {
				color: $main-blue;
				& > span,
				& > span a {
					color: $main-blue;
				}
				svg {
					stroke: $main-blue;
					transform: scaleY(-1);
				}
				.submenu {
					opacity: 1;
					visibility: visible;
					@include md-max {
						transform: translateX(0%);
						width: 100vw;
						left: -16px;
					}
				}
			}
			.submenu {
				background: $white;
				box-shadow: 0 6px 6px rgba(0, 0, 0, 0.03);
				display: block;
				width: 100vw;
				min-height: 516px;
				top: 77px;
				left: 50%;
				transform: translateX(-50%);
				opacity: 0;
				visibility: hidden;
				z-index: 2;
				@include transition(0.3s ease-out 0s);
				@include xl-max {
					min-height: 430px;
				}
				@include md-max {
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					transform: translateX(100%);
				}
				& > .container {
					min-height: inherit;
				}
				li {
					font-size: 16px;
					line-height: 21px;
					&:not(:last-child) {
						margin-bottom: 24px;
						@include md-max {
							margin-bottom: 32px;
						}
					}
				}
				.submenu-lvl-1,
				.submenu-lvl-2 {
					max-width: 316px;
					width: 100%;
					height: 100%;
					min-height: inherit;
					padding: 40px 24px;
					@include md-max {
						padding: 0;
					}
					li {
						padding: 8px 10px;
						@include md-max {
							padding: 8px;
							width: max-content;
						}
					}
				}
				.submenu-lvl-1 {
					margin-left: 136px;
					position: relative;
					@include lg-max {
						margin-left: 94px;
					}
					@include md-max {
						position: static;
						margin-left: 0;
						max-width: 100%;
					}
					.head {
						.head-link {
							position: relative;
							display: inline-block;
							color: $black;
							@include transition(0.3s ease-out 0s);
							@include lg-min {
								&::after {
									content: "";
									display: block;
									position: absolute;
									top: 0;
									bottom: 0;
									margin: auto 0;
									right: -28px;
									width: 18px;
									height: 12px;
									background: url(../img/icons/icons.svg#i-arrow-one-right-static) no-repeat center;
									filter: invert(45%) sepia(26%) saturate(7449%) hue-rotate(217deg) brightness(102%)
										contrast(106%);
									opacity: 0;
									visibility: hidden;
								}
							}
						}
						&:hover,
						&.active {
							.head-link {
								color: $main-blue;
								@include lg-min {
									&::after {
										visibility: visible;
										opacity: 1;
									}
								}
							}
							.submenu-lvl-2 {
								opacity: 1;
								visibility: visible;
								@include md-max {
									transform: translateX(0%);
								}
							}
						}
					}
				}
				.submenu-lvl-2 {
					top: 0;
					left: 100%;
					background: $light-blue;
					opacity: 0;
					visibility: hidden;
					@include transition(0.3s ease-out 0s);
					@include md-max {
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						transform: translateX(100%);
						max-width: 100%;
						padding: 0 16px;
						z-index: 2;
						background: $white;
					}
					.subhead {
						&:hover,
						&.active {
							a {
								color: $main-blue;
							}
						}
					}
				}
				.short-descrp {
					max-width: 300px;
					width: 100%;
					color: $black;
					hr {
						width: auto;
						margin: 0 -64px;
					}
					@include xl-max {
						max-width: 100%;
					}
					img {
						max-width: 150px;
					}
				}
			}
		}
		&.menu-for-business {
			.nav-link .submenu .submenu-lvl-1 {
				margin-left: 246px;
				@include lg-max {
					margin-left: 206px;
				}
				@include md-max {
					margin-left: 0;
				}
			}
		}
	}
	.navbar-brand {
		padding: 0;
		margin-right: 40px;
	}
}
.menu-phones {
	.header-top--others & {
		.current-phone {
			svg {
				stroke: $white;
			}
			.submenu li:nth-child(n) {
				padding-left: 0;
			}
		}
		.link-phone {
			color: $white;
		}
	}
	.current-phone {
		font-size: 16px;
		line-height: 21px;
		position: relative;
		cursor: pointer;
		border-radius: 20px;
		padding: 10px;
		@include transition(0.3s ease-out 0s);
		svg {
			fill: none;
			stroke: $black;
			@include transition(0.3s ease-out 0s);
			&.i-arrow-down {
				width: 16px;
				height: 16px;
			}
			&.i-phone {
				width: 24px;
				height: 24px;
			}
		}
		&:hover,
		&.active {
			.link-phone {
				color: $white;
				span {
					&:hover {
						color: $black;
					}
				}
			}
			svg {
				stroke: $white;
				&.i-arrow-down {
					transform: scaleY(-1);
				}
			}
		}
		.submenu {
			display: block;
			color: $white;
			background: $main-blue;
			top: 0;
			left: 0;
			border-radius: 20px;
			padding: 10px;
			opacity: 0;
			visibility: hidden;
			z-index: 3;
			@include transition(0.3s ease-out 0s);
			li {
				font-size: 16px;
				line-height: 21px;
				&:not(:last-child) {
					margin-bottom: 10px;
				}
				a {
					&:hover {
						color: $black;
					}
				}
				&:not(:first-child) {
					padding-left: 24px;
				}
			}
		}
		&:hover,
		&.active {
			.submenu {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
//navbar
.navbar {
	@include md-max {
		.container {
			padding-right: 12px;
			padding-left: 12px;
		}
		.navbar-nav {
			margin-top: 32px;
			position: relative;
			> .list-inline-item {
				&:not(:last-child) {
					margin-bottom: 32px;
				}
			}
		}
	}
	.nav-link {
		font-size: 16px;
		line-height: 21px;
		@include md-max {
			padding: 8px;
		}
	}
	.navbar-collapse {
		@include md-max {
			min-height: 440px;
		}
	}
}
//burger
.navbar-toggler {
	.menu-burger {
		width: 30px;
		height: 30px;
		cursor: pointer;
		.lines {
			background-color: $black;
			position: absolute;
			width: 100%;
			height: 3px;
			top: 4px;
			left: 0;
			border-radius: 12px;
			&:before,
			&:after {
				content: "";
				background-color: $black;
				position: absolute;
				height: 3px;
				@include transition(all 0.3s ease 0s);
				border-radius: 12px;
				width: 100%;
			}
			&:before {
				top: 10px;
				left: 0;
			}
			&:after {
				top: 20px;
				left: 0;
			}
		}
		@include lg-min {
			&:hover {
				cursor: pointer;
			}
		}
		@include xl-min {
			display: none;
		}
	}
	&:not(.collapsed) {
		.menu-burger {
			.lines {
				background-color: transparent;
				&:before {
					@include transform(rotate(45deg));
					top: 10px;
				}
				&:after {
					@include transform(rotate(-45deg));
					top: 10px;
				}
			}
		}
	}
}
