.flatpickr-current-month {
	padding: 0;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	@media (max-width: 500px) {
		height: 26px;
	}

	.select2-container {
		height: 100%;

		.select2-selection {
			padding: 0;
			height: auto;
			border-radius: 5px;
		}
	}

	.numInputWrapper {
		min-width: 6ch;
	}
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
	-moz-appearance: number-input;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.calculation-data {
	.additional-param {
		.field-wrap {
			.people-block--wrap {
				position: relative;

				&.active {
					.people-block--additional-param {
						display: block;
						position: absolute;
						width: 100%;
						z-index: 2;
						border: 1px solid $blue;
						border-top: unset;
						margin-top: -1px;
					}

					.people-block {
						border-radius: 30px 30px 0 0;
						border: 1px solid $blue;
					}
				}

				.people-block {
					background: $white;
					border-radius: 100px;
					border: 1px solid transparent;
					padding: 13px 23px;
					height: 100%;
					height: 48px;
					min-width: 100%;
					cursor: pointer;
				}

				.people-block--additional-param {
					background: $white;
					padding: 20px;
					border-radius: 0 0 30px 30px;
					display: none;

					.form-group {
						display: flex;
						justify-content: space-between;
						gap: 10px;

						&:last-child {
							margin-bottom: 0;
						}
					}

					.input:focus {
						all: unset;
					}

					.input-block {
						display: flex;
						align-items: center;
						gap: 8px;
						border-radius: 20px;
						background: $blue;
						padding: 2px 4px;
						min-width: max-content;
						height: 100%;

						.form-control {
							padding: 0;
							min-width: auto;
							border-radius: 0;
							background: unset;
							height: auto;
							text-align: center;
						}

						.btn-count-down,
						.btn-count-up {
							width: 36px;
							min-width: 36px;
							border: unset;
							height: 24px;
							border-radius: 30px;
							background: $white;
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 14px;

							&:disabled {
								opacity: 0.5;
							}
						}
					}
				}
			}
		}
	}
}

#btnTop {
	display: inline-block;
	background-color: $main-blue;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	position: fixed;
	bottom: 30px;
	right: 30px;
	@include transition(0.3s ease-out 0s);
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;

	svg {
		width: 24px;
		height: 24px;
	}
}

#btnTop.show {
	opacity: 1;
	visibility: visible;
}

.fancybox__container {
	z-index: 1070;
	--fancybox-bg: rgb(38 42 71 / 90%);
}

.search-main {
	padding: 4px;
	background: rgba(132, 132, 132, 0.5);
	border-radius: 20px;
	position: relative;
	width: 100%;
	margin-right: 22px;
	max-width: 32px;
	overflow: hidden;
	margin-left: auto;
	cursor: pointer;

	@include sm-max {
		max-width: 100%;
		overflow: visible;
	}

	&.active {
		border-radius: 15px 15px 0 0;

		.results-search {
			display: block;
			border-radius: 0 0 15px 15px;
			padding-bottom: 0;
			padding-top: 0;
		}

		.input-search {
			&::before {
				opacity: 1;
			}
		}
	}

	.input-search {
		position: relative;
		display: flex;
		align-items: center;

		&::before {
			content: "";
			display: block;
			position: relative;
			min-width: 24px;
			width: 24px;
			height: 24px;
			background: url(../img/icons/icons.svg#i-search) no-repeat center;
			filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7465%) hue-rotate(154deg) brightness(102%) contrast(100%);
			opacity: 0.3;
		}

		.clear-icon {
			display: none;
			cursor: pointer;

			&::before {
				content: "";
				display: block;
				position: relative;
				min-width: 24px;
				width: 24px;
				height: 24px;
				background: url(../img/icons/icons.svg#i-close) no-repeat center;
				margin-left: 12px;
				filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7465%) hue-rotate(154deg) brightness(102%) contrast(100%);
				opacity: 0.3;

				@include sm-max {
					filter: brightness(0) saturate(100%) invert(58%) sepia(5%) saturate(19%) hue-rotate(346deg) brightness(92%) contrast(80%);
					opacity: 0.9;
				}
			}
		}

		input {
			background: unset;
			width: 100%;
			color: $white;
			border: unset;
			padding: 0;
			padding-left: 4px;
		}
	}

	.results-search {
		position: absolute;
		left: 0;
		top: 31px;
		padding: 4px;
		background: rgb(87 87 87);
		color: $white;
		display: none;
		z-index: 7;
		overflow: scroll;
		max-height: 250px;

		.result-list {
			.result-item {
				color: $white;
				padding-left: 32px;
				display: block;
				margin: 0 -4px;
				padding-top: 4px;
				padding-bottom: 4px;

				&:nth-child(2n + 1) {
					background: #3a3939;
				}

				.info-page {
					font-size: 12px;
					line-height: 18px;
				}
			}
		}

		&.no-result-search {
			padding-left: 32px;
			padding-top: 4px;
			padding-bottom: 4px;

			@include md-max {
				background: $white;
				color: $black;
			}
		}
	}
}

.search-main--wrap {
	@include sm-max {
		padding: 0 16px;

		.search-main {
			border: 1.5px solid $main-blue;
			background: transparent;
			margin-right: 0;

			.input-search {
				&::before {
					filter: brightness(0) saturate(100%) invert(42%) sepia(76%) saturate(2781%) hue-rotate(216deg) brightness(102%) contrast(102%);
					opacity: 1;
				}

				input {
					color: $black;

					&::placeholder {
						color: $main-blue;
					}
				}
			}

			.results-search {
				width: calc(100% + 2px) !important;
				border: 1.5px solid $main-blue;
				left: -1px;

				.result-list {
					.result-item {
						background: $light-blue;
						color: $black;

						&:nth-child(2n + 1) {
							background: $white;
						}
					}
				}
			}
		}
	}
}

//air-datepicker
.air-datepicker {
	--adp-width: 293px;

	.air-datepicker--navigation {
		.air-datepicker-nav {
			.air-datepicker-nav--title {
				width: 100%;
				gap: 5px;

				&:active,
				&:hover {
					background: none;
				}

				span {
					width: 100%;
					font-size: 14px;
					padding: 4px 10px;
					background: $light-blue;
					border-radius: 5px;
					text-align: center;
				}
			}
		}
	}

	.air-datepicker-body--day-name {
		color: $black;
		font-weight: 600;
	}

	.air-datepicker-nav--action {
		&:hover {
			background: $main-blue;

			path {
				stroke: $white;
			}
		}
	}

	.air-datepicker-cell {
		&.-focus- {
			background: $main-blue;
			color: $white;

			&.-disabled- {
				background: $grey;
				opacity: 0.3;
			}
		}

		&.-year- {
			&.-other-decade- {
				color: $black;

				&.-focus- {
					color: $white;
				}
			}
		}

		&.-selected- {
			background: $main-blue;

			&.-range-from-,
			&.-range-to- {
				background: $dark-blue;
			}
		}

		&.-range-from-,
		&.-range-to- {
			border: none;
			background: $dark-blue;
			color: $white;
		}

		&.-in-range- {
			background: $main-blue;
			color: $white;
		}
	}

	.air-datepicker-body--cells {
		&.-days- {
			row-gap: 5px;
		}

		&.-years- {
			grid-template-columns: repeat(4, 1fr);
		}

		&.-months- {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

// .footer {
// 	.select-wrapper {
// 		position: absolute;
// 		width: max-content;
// 		margin-left: -10px;
// 		border: 1px solid transparent;
// 		z-index: 2;
// 		background: #5b75ff;
// 		transition: 0.3s ease-out 0s;
// 	}
// }

.chart-statistic {
	.chart-marks {
		ul {
			li {
				.chart-line {
					display: block;
					width: 32px;
					height: 8px;
					border-radius: 20px;
					margin-right: 15px;
				}
			}
		}
	}
}

.canvasjs-chart-credit {
	display: none;
}

.canvasjs-chart-toolbar {
	display: none;
}

#DoughnutChart {
	height: 636px;
	width: 100%;

	@include md-max {
		height: 400px;
	}
}

/* Селектор для тултіпів CanvasJS */
.canvasjs-chart-tooltip {
	border-radius: 15px !important;
	/* Заокруглені краї */
	border: 1px solid #ccc !important;
	/* Сіра рамка */
	padding: 10px !important;
	/* Відступи всередині тултіпу */
	background-color: #fff !important;
	/* Білий фон */
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
	/* Легка тінь */

	>div:first-child {
		border: unset !important;
	}

	.chart-item {
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}

	.chart-val {
		color: $main-blue;
	}
}

#accordion-strakhovi-produkty {
	max-height: 700px;

	.card {
		border: unset;
		border-radius: unset;

		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	.card-body {
		margin-right: 40px;

		@include md-max {
			margin-right: 20px;
		}
	}

	.card-header {
		padding: 0;
		background: unset;
		border-bottom: unset;
		margin-bottom: 0;

		.btn-link {
			width: 100%;
			text-align: left;
			border-radius: 20px;
			padding: 14.5px 22px 14.5px 24px;
			background: #E8ECFD;
			color: $main-blue;
			font-size: inherit;
			line-height: inherit;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 34px;
			font-size: 32px;
			font-weight: 500;
			line-height: 36px;

			@include md-max {
				font-size: 28px;
			}

			&::after {
				content: "";
				background: url(../img/icons/icons.svg#i-arrow-two-right-static) no-repeat center;
				background-size: cover;
				max-width: 24px;
				width: 100%;
				height: 24px;
				display: block;
				transform: rotate(-90deg);
				filter: brightness(0) saturate(100%) invert(99%) sepia(54%) saturate(21%) hue-rotate(266deg) brightness(118%) contrast(96%);
				@include transition(0.3s ease-out 0s);
			}

			&::before {
				content: "";
				display: block;
				background: $main-blue;
				width: 44px;
				height: 44px;
				border-radius: 8px;
				position: absolute;
				right: 12px;
				top: 50%;
				transform: translateY(-50%);

			}

			&.collapsed {
				background: #E8ECFD;
				color: $main-blue;

				&::after {
					filter: brightness(0) saturate(100%) invert(99%) sepia(54%) saturate(21%) hue-rotate(266deg) brightness(118%) contrast(96%);
					transform: rotate(90deg);
				}
			}

			&:hover,
			&:focus {
				text-decoration: unset;
			}
		}
	}

	.card-body {
		padding: 36px 0 0 0;
		margin-top: 0;
	}

	.accordion {

		.card-header {
			.btn-link {
				font-size: 22px;
				font-weight: 500;
				line-height: 24px;
				padding-top: 20.5px;
				padding-bottom: 20.5px;

				@include md-max {
					font-size: 24px;
				}
			}
		}

		.card {
			&:not(:last-child) {
				margin-bottom: 28px;
			}

			&:last-child {
				margin-bottom: 24px;
			}
		}
	}

	.documents {
		margin-top: -8px;

		&::-webkit-scrollbar {
			width: 6px;
			height: 6px;
			background-color: $light-blue;
		}

		.documents--item a::before {
			width: 16px;
			height: 16px;
		}
	}
}











//? ===== calc-mini-casco-page =====

.calc-mini-casco-page,
.minicasco-page,
.calc-insurance-payment-page--minicasco {

	.container {
		@include xxxl-min {
			max-width: 1727px;
		}
	}

	.container-wrap {
		@include xxxl-min {
			max-width: 1727px;
		}
	}

	.h2,
	.h2 {
		@include xxxl-min {
			font-size: 56.69px;
			font-weight: 700;
			line-height: 69px;
		}
	}

	.calculation-data {
		@include xxxl-min {
			font-size: 22px;
			font-weight: 400;
			line-height: 27px;
		}

		.buttons .btn {
			@include xxxl-min {
				font-size: 22px;
				font-weight: 400;
				line-height: 27px;
				min-width: 326px;
			}
		}

		.form-calculation-data {
			.form-calculation-data-descr {
				height: auto;
			}

			.head {
				@include md-max {
					font-size: 1rem;
					font-weight: 700;
					line-height: 1.5;
				}
			}

			.form-calculation-data-limitation {
				.form-calculation-data-limitation--item {
					&:not(:last-child) {
						margin-bottom: 30px;
					}
				}

				.head {
					font-size: 22.68px;
					font-weight: 500;
					line-height: 27px;
					margin-top: 12px;
					color: var(--white);

					@include xxl-max {
						font-size: 20px;
						line-height: 24px;
					}

					@include xxl-max {
						font-size: 16px;
						line-height: 20px;
					}

					@include md-max {
						font-size: 1rem;
						font-weight: 400;
						line-height: 1.5;
					}
				}

				img {
					width: 116.99px;
					height: 116.99px;
					object-fit: contain;

					@include xxl-max {
						width: 100px;
						height: 100px;
					}

					@include xxl-max {
						width: 80px;
						height: 80px;
					}


					@include md-max {
						width: 80px;
						height: 80px;
					}
				}
			}
		}

		.field {
			.form-control {
				@include xxxl-min {
					height: 62px;

					&::placeholder {
						font-size: 22px;
						font-weight: 400;
						line-height: 27px;
					}
				}
			}

			.select2-container {
				.select2-selection {
					@include xxxl-min {
						height: 62px;
						font-size: 22px;
						font-weight: 400;
						line-height: 27px;
					}
				}
			}

			.select2-results__option {
				@include xxxl-min {
					font-size: 22px;
					font-weight: 400;
					line-height: 27px;
				}
			}
		}

		.form-calculation-data {
			.head {
				@include xxxl-min {
					font-size: 33px;
					line-height: 40px;
				}

				@include xxl-max {
					font-size: 28px;
					line-height: 30px;
					font-weight: 600;
				}

				@include md-max {
					font-size: 22px;
					line-height: 24px;
				}

				span {
					@include xxxl-min {
						font-weight: 800;
					}
				}
			}
		}

	}

	//radio
	.choose-radio {
		.custom-control {
			padding-left: 0;

			&:not(:last-child) {
				margin-bottom: 0;
			}
		}

		.custom-control-input {
			cursor: pointer;
		}

		.custom-control-label {
			padding-left: 40px;
			width: 100%;
			cursor: pointer;

			&:before,
			&:after {
				position: absolute;
				left: 0;
				top: 1px;
				width: 30px;
				height: 30px;
				@include transition(0.3s ease-out 0s);
			}

			&::after {
				background: url(../img/icons/icons.svg#i-check-minicasco) no-repeat center;
				background-size: cover;
				opacity: 0;
				visibility: hidden;
				width: 13.77px;
				height: 9.48px;
				top: 10px;
				left: 9px;
			}

			&::before {
				// background: url(../img/icons/icons.svg#i-check-empty-static) no-repeat center;
				background-size: cover;
				border-radius: unset;
				border: 1.43px solid rgba(220, 226, 255, 1);
				background: rgba(250, 250, 250, 1);

			}
		}

		.custom-control-input:checked~.custom-control-label {
			&::before {
				opacity: 1;
				visibility: visible;
			}

			&::after {
				background: url(../img/icons/icons.svg#i-check-minicasco) no-repeat center;
				background-size: cover;
				opacity: 1;
				visibility: visible;
			}
		}

		.custom-control-input {
			&:checked~.custom-control-label::after {}

			&:focus~.custom-control-label::before {
				box-shadow: none;
			}

			&:focus:not(:checked)~.custom-control-label::before {}

			&:hover:not(:checked)~.custom-control-label {
				&::before {
					opacity: 1;
					visibility: visible;
				}

				&::after {
					background: url(../img/icons/icons.svg#i-check-minicasco) no-repeat center;
					background-size: cover;
					opacity: 1;
					visibility: visible;
				}
			}

			&:not(:disabled):active~.custom-control-label::before {}
		}
	}
}

.minicasco-payment-price {
	.wrap {
		border: 1.91px solid rgba(220, 226, 255, 1);
		background: rgba(243, 245, 255, 1);
	}

	.inner {
		border: 1.57px solid rgba(220, 226, 255, 1);
		background: rgba(255, 255, 255, 1);

		@include md-max {
			border: unset;
			background: unset;
		}
	}

	.head {
		display: flex;
		align-items: center;
		column-gap: 100px;

		@include md-max {
			column-gap: 20px;
		}
	}

	.wrap-img {
		width: 196.61px;
		height: 61.88px;

		@include md-max {
			width: 80px;
			height: 60px;

			img {
				object-fit: contain;
			}
		}
	}

	.calculation-table--minicasco {
		&:not(.expanded) {
			.table-body:nth-of-type(n+5) {
				display: none;
			}
		}

		&.expanded {
			.table-row.table-body {
				display: grid;
			}
		}

		.table-row {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 40px;
			font-size: 22.68px;
			font-weight: 500;
			line-height: 27px;

			@include xxl-max {
				font-size: 1rem;
				font-weight: 500;
				line-height: 1.5;
			}

			@include xl-max {
				column-gap: 20px;
			}

			&.head {
				background: var(--main-blue);
				grid-template-columns: 1fr max-content 1fr;

				@include md-max {
					display: none;
				}

				.table-col {
					.name {
						color: var(--light-blue);
						text-align: center;
					}
				}
			}

			&.table-body {
				grid-template-columns: 1fr minmax(420px, 1fr) 1fr;

				@include xl-max {
					grid-template-columns: 1fr minmax(370px, 1fr) 1fr;
				}

				@include lg-max {
					grid-template-columns: repeat(1, 1fr);
				}

				&:not(:last-child) {
					margin-bottom: 40px;

					@include xl-max {
						margin-bottom: 20px;
					}

					@include lg-max {
						border: 1.57px solid rgb(220, 226, 255);
						background: rgb(255, 255, 255);
						padding: 15px;
						border-radius: 1.25rem;
					}
				}

				.table-col {
					min-height: 180px;
					border-radius: 1.25rem;
					padding: 20px;

					@include lg-max {
						&:not(:last-child) {
							margin-bottom: 20px;
						}
					}

					&.descrp-name {
						background: var(--blue);
						display: flex;
						flex-direction: column;
						justify-content: flex-end;

						.name-detail {
							margin-top: 12px;
							text-align: center;
						}

						.wrap-img {
							margin: 0 auto;
							width: 195px;
							max-height: 100px;
							height: 100%;

							@include xxl-max {
								width: 120px;
							}

							img {
								object-fit: contain;
							}
						}
					}

					&.descrp-price {
						padding: 11px 30px;
						border: 1.43px solid rgba(220, 226, 255, 1);
						background: rgba(250, 250, 250, 1);
						display: flex;
						flex-direction: column;
						justify-content: center;

						.item {
							display: flex;
							align-items: center;
							justify-content: space-between;
							column-gap: 24px;

							@include lg-max {
								flex-direction: column;
								justify-content: flex-start;
								align-items: flex-start;
							}

							&:not(:last-child) {
								margin-bottom: 10px;
							}
						}

						.name {
							@include lg-max {
								margin-bottom: 5px;
							}
						}

						.price {
							border: 1.71px solid rgba(91, 117, 255, 1);
							background: rgba(255, 255, 255, 1);
							padding: 9px;
							border-radius: 1.25rem;
							width: 186px;
							text-align: center;

							@include lg-max {
								width: 100%;
							}

							@include md-max {
								text-align: left;
							}
						}
					}

					&.descrp-payment {
						padding: 33px 28px;
						background: rgba(220, 226, 255, 1);

						@include xxl-max {
							display: flex;
							align-items: center;
						}

						.price {
							font-size: 59.59px;
							font-weight: 500;
							line-height: 72px;
							color: var(--main-blue);
							border: 1.71px solid rgba(91, 117, 255, 1);
							background: rgba(255, 255, 255, 1);
							padding: 20px 27px;
							border-radius: 1.75rem;
							text-align: center;
							display: flex;
							align-items: center;
							justify-content: flex-end;
							column-gap: 15px;
							width: 100%;

							@include xxl-max {
								font-size: 40px;
								line-height: 44px;
							}

							@include xl-max {
								font-size: 32px;
								line-height: 34px;
								column-gap: 5px;
							}

							.currency {
								&::after {
									content: "";
									display: block;
									position: relative;
									width: 45.62px;
									height: 54.54px;
									background: url(../img/icons/icons.svg#i-currency-minicasco) no-repeat center;

									@include xxl-max {
										width: 35px;
										height: 45px;
									}

									@include xxl-max {
										width: 25px;
										height: 35px;
									}
								}
							}
						}
					}
				}
			}

			.table-col {
				.name {}
			}
		}
	}

	.calculation-table--minicasco-buttons {
		.btn-main-blue {
			width: 325px;

			@include xxxl-min {
				font-size: 22px;
				font-weight: 400;
				line-height: 27px;
				min-width: 326px;
			}
		}
	}
}

.popup-no-autocivil,
.popup-autocivil-60 {

	.modal-dialog {
		max-width: 830px;

	}

	.modal-content {
		background: rgba(243, 245, 255, 1);
	}

	.modal-title {
		font-size: 37.8px;
		font-weight: 500;
		line-height: 46px;
		text-align: center;

		@include xxl-max {
			font-size: 26px;
			line-height: 28px;
		}

		@include md-max {
			font-size: 24px;
			line-height: 28px;
		}
	}

	.modal-subtitle {
		font-size: 26.45px;
		font-weight: 500;
		line-height: 32px;
		text-align: center;

		@include xxl-max {
			font-size: 22px;
			line-height: 24px;
		}

		@include md-max {
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
		}
	}

	.wrap-img {
		width: 128.46px;
		height: 118.96px;
		margin: 0 auto;
		margin-bottom: 45px;

		@include xxl-max {
			width: 88.46px;
			height: 78.96px;
			margin-bottom: 25px;
		}

		@include md-max {
			width: 80px;
			height: 70px;
			margin-bottom: 25px;
		}

		img {
			object-fit: contain;
		}
	}

	.btn-main-blue {
		max-width: 450px;
		margin: 0 auto;
	}
}

.filter-cards {
	&.filter-cards--minicasco {
		.filter-card {
			.filter-car--pic {
				max-width: 205px;
				width: 100%;
			}

			.btn-more {
				background: unset;
			}
		}
	}
}

.calc-insurance-payment-page {
	.container {
		@include xxxl-min {
			max-width: 1727px;
		}
	}

	.card-details {
		.btn-add {
			max-width: 185px;
			width: 100%;

			@include sm-max {
				max-width: 100%;
			}
		}

		.field-wrap {
			.select-wrap {
				width: 100%;
			}
		}
	}
}

.spoiler--minicasco--price {
	transition: height 200ms;
	overflow: hidden;
	max-height: 1px;

	.minicasco-payment-price {

		.inner {
			border-color: var(--light-blue);
		}
	}


	&.is-open {
		height: auto !important;
	}
}

.spoiler--minicasco--price[aria-expanded="true"] {
	.minicasco-payment-price {

		.inner {
			border-color: rgb(220, 226, 255);
		}
	}
}

.calc-insurance-payment-page--minicasco {
	.filter-card {
		.btn-outline-main-blue {
			max-width: 220px;
			margin: 0 auto;

			@include xxl-min {
				font-size: 23px;
				line-height: 24px;
			}

			@include md-max {
				max-width: 100%;
			}
		}
	}
}

.insurance-payment--minicasco--wrap {
	.insurance-payment--minicasco {
		position: absolute;
		bottom: -10px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;

		@include xxl-max {
			bottom: 30px;
		}

		@include md-max {
			bottom: 20px;
		}

		.small-txt {
			font-size: 24px;
			line-height: 26px;

			@include xxl-max {
				font-size: 18px;
				line-height: 22px;
			}
		}
	}

	.price {
		font-size: 59.59px;
		font-weight: 500;
		line-height: 72px;
		color: var(--white);
		display: flex;
		align-items: center;
		justify-content: flex-end;
		column-gap: 15px;

		@include xxl-max {
			font-size: 40px;
			line-height: 44px;
		}

	}

	.currency {
		&::after {
			content: "";
			display: block;
			position: relative;
			width: 45.62px;
			height: 54.54px;
			background: url(../img/icons/icons.svg#i-currency-minicasco) no-repeat center;
			filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);

			@include xxl-max {
				width: 35px;
				height: 45px;
			}

			@include xxl-max {
				width: 25px;
				height: 35px;
			}
		}
	}

	.wrap-img {
		overflow: visible;
		position: relative;
		height: 287px;
		width: 100%;

		.bg-down {
			z-index: 1;
			object-fit: contain;

			@include xxxl-min {
				transform: translate(-50%, -50%) translate(-10px, 20px);
			}
		}
	}
}

.filter-cards .filter-card {
	@include xxxl-min {
		font-size: 23px;
		line-height: 24px;

		.head {
			font-size: 27px;
			line-height: 29px;
		}

		.company-name {
			font-size: 29px;
			line-height: 32px;
		}

		.field-franchise,
		.btn-more,
		.btn-more--close,
		.inner,
		.field,
		.field .select2-container .select2-selection {
			font-size: 23px;
			line-height: 24px;
		}

		.field .form-control {
			@include xxxl-min {
				height: 62px;

				&::placeholder {
					font-size: 23px;
					line-height: 24px;
				}

			}
		}

		.filter-card--additional .list-liability-limits li:not(:last-child) {
			margin-bottom: 40px;
		}

		.select-wrap {
			max-width: 468px;
		}

		.field .select2-container .select2-selection {
			height: 62px;
		}

		.filter-card--cost {
			max-width: 357px;
			margin: 0 auto;
			margin-top: 115px;

			.small-txt {
				font-size: 15.12px;
				font-weight: 500;
				line-height: 18px;
			}

			.h4 {
				font-size: 26.45px;
				font-weight: 500;
				line-height: 32px;
			}
		}
	}

	.head {
		@include xxl-max {
			font-size: 22px;
			line-height: 26px;
		}
	}
}

.select2-results__option,
.field .select2-container .select2-selection {
	@include xxxl-min {
		font-size: 23px;
		line-height: 24px;
	}
}

.calc-minicasco-page--mini {

	@include xxxl-min {
		.filter-cards .filter-card .company-name {
			font-size: 56px;
			line-height: 60px;
		}

		.filter-cards .filter-card {
			.btn-outline-main-blue {
				height: 62px;
				max-width: 220px;
				font-size: 22.68px;
				font-weight: 500;
				line-height: 27px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 auto;
				border-radius: 40px;
			}

			.filter-card--cost {
				margin-top: 40px;
			}
		}
	}

	.filter-cards .filter-card .company-name {
		@include xxl-max {
			font-weight: 700;
		}

		@include lg-max {
			font-size: 32px;
			line-height: 36px;
		}

		@include md-max {
			font-size: 24px;
			line-height: 28px;

			&::after {
				content: "";
				display: block;
				width: 24px;
				height: 24px;
				position: relative;
				background: url(../img/icons/icons.svg#i-arrow-two-right-static) no-repeat center;
				background-size: cover;
				margin-left: 10px;
				transform: rotate(0deg);
				@include transition(0.3s ease-out 0s);
			}

			&.active {
				&::after {
					transform: rotate(90deg);
					@include transition(0.3s ease-out 0s);
				}
			}
		}
	}
}