.flatpickr-current-month {
	padding: 0;
	height: 42px;
	display: flex;
	align-items: center;
	gap: 10px;
	.select2-container {
		height: 100%;
		.select2-selection {
			padding: 0;
			height: auto;
			border-radius: 5px;
		}
	}
	.numInputWrapper {
		min-width: 6ch;
	}
}

input[type="number"] {
	-moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
	-moz-appearance: number-input;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.calculation-data {
	.additional-param {
		.field-wrap {
			.people-block--wrap {
				position: relative;
				&.active {
					.people-block--additional-param {
						display: block;
						position: absolute;
						width: 100%;
						z-index: 2;
						border: 1px solid $blue;
						border-top: unset;
						margin-top: -1px;
					}
					.people-block {
						border-radius: 30px 30px 0 0;
						border: 1px solid $blue;
					}
				}
				.people-block {
					background: $white;
					border-radius: 100px;
					border: 1px solid transparent;
					padding: 13px 23px;
					height: 100%;
					height: 48px;
					min-width: 100%;
					cursor: pointer;
				}
				.people-block--additional-param {
					background: $white;
					padding: 20px;
					border-radius: 0 0 30px 30px;
					display: none;
					.form-group {
						display: flex;
						justify-content: space-between;
						gap: 10px;
						&:last-child {
							margin-bottom: 0;
						}
					}
					.input:focus {
						all: unset;
					}
					.input-block {
						display: flex;
						align-items: center;
						gap: 8px;
						border-radius: 20px;
						background: $blue;
						padding: 2px 4px;
						min-width: max-content;
						height: 100%;
						.form-control {
							padding: 0;
							min-width: auto;
							border-radius: 0;
							background: unset;
							height: auto;
							text-align: center;
						}
						.btn-count-down,
						.btn-count-up {
							width: 36px;
							min-width: 36px;
							border: unset;
							height: 24px;
							border-radius: 30px;
							background: $white;
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 14px;
							&:disabled {
								opacity: 0.5;
							}
						}
					}
				}
			}
		}
	}
}

#btnTop {
	display: inline-block;
	background-color: $main-blue;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	position: fixed;
	bottom: 30px;
	right: 30px;
	@include transition(0.3s ease-out 0s);
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	@media (max-width: 440px) {
		display: none;
	}
	svg {
		width: 24px;
		height: 24px;
	}
}
#btnTop.show {
	opacity: 1;
	visibility: visible;
}
.fancybox__container {
	z-index: 1070;
}
// @media (max-width: 440px) {
// 	.wrapper {
// 		transform-origin: left top;
// 		transform: scale(1);
// 	}
// }

.with-fancybox.reset-transform {
	transform: unset !important;
	transition: none;
}
.fancybox__container {
	background: $main-blue;
	opacity: 1;
	transition: none;
}
